<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Users Management</title>
  </head>
  <body>
    <div>
        <a href="/">Home</a>
        <a href="/user/add">Add User</a>
    </div>

    <div>
      {{{body}}}
    </div>
  </body>
</html>